table{
    width: 100%;
    height: 400px;
}

h1{
    height: 50px;
    text-align: center;  
    background-color: #25FDAA; 
}

th{
    font-size: 18px;
}

button{
    font-size: 15px;
    padding: 5px;
}

.mat-elevation-z8 {
    height: calc(92vh - 150px);
    overflow-y: auto;
}

#paginacion{
   
    bottom: 30px;
    
    padding-top: 1px;
    height: 10%;
    
 
}

#todo{
    padding: 8px;
}
